In [109]:
import pandas as pd

In [110]:
df_eco = pd.read_csv("data2.csv", sep=",", header=0)

In [111]:
df_eco.loc[0:2]

   Ocupación_informal  Población_rural  Empleadores  Educación  PIB_per_cápita
0             0.49910          1058009     0.006255   0.517460     3689.830082
1             0.28020          3435109     0.050897   1.196828    57432.180285
2             0.02539           235807     0.041533   0.772435    41318.019639

In [112]:
df_oi = df_eco.loc[:,['Ocupación_informal']]
df_pr = df_eco.loc[:,['Población_rural']]
df_em = df_eco.loc[:,['Empleadores']]
df_ed = df_eco.loc[:,['Educación']]
df_pib = df_eco.loc[:,['PIB_per_cápita']]

In [113]:
all_dt_frames = [df_oi, df_pr, df_em, df_ed, df_pib]

mins = []
for dt in all_dt_frames:
    min1 = dt.min()
    mins.append(min1)

maxs = []
for dt in all_dt_frames:
    max1 = dt.max()
    maxs.append(max1)

q1s = []
for dt in all_dt_frames:
    q1 = dt.quantile(0.25)
    q1s.append(q1)

medians = []
for dt in all_dt_frames:
    median1 = dt.median()
    medians.append(median1)

means = []
for dt in all_dt_frames:
    mean1 = dt.mean()
    means.append(mean1)

q3s = []
for dt in all_dt_frames:
    q31 = dt.quantile(0.75)
    q3s.append(q31)

varss = []
for dt in all_dt_frames:
    var1 = dt.var()
    varss.append(var1)

stds = []
for dt in all_dt_frames:
    std1 = dt.std()
    stds.append(std1)
    
    


min_vals = [series.values[0] for series in mins]
max_vals = [series.values[0] for series in maxs]
q1_vals = [series.values[0] for series in q1s]
median_vals = [series.values[0] for series in medians]
mean_vals = [series.values[0] for series in means]
q3_vals = [series.values[0] for series in q3s]
var_vals = [series.values[0] for series in varss]
std_vals = [series.values[0] for series in stds]

cv = [std_vals[i]/mean_vals[i]  for i in range(len(std_vals))]

# print(min_vals, "\n", max_vals, "\n", q1_vals, "\n", median_vals, "\n", mean_vals, "\n", q3_vals, "\n", var_vals, "\n", std_vals)
print(cv)

[1.015096259211268, 1.9980394072566117, 0.3754375801106067, 0.45886045987953944, 1.1691949842152545]

In [114]:
import pandas as pd

# Define headers and create an empty DataFrame
headers = ['Ocupación_informal', 'Población_rural', 'Empleadores', 'Educación', 'PIB_per_cápita']
df = pd.DataFrame(columns=headers)

# Create individual DataFrames for each set of values
a_df = pd.DataFrame([min_vals], columns=headers)
b_df = pd.DataFrame([max_vals], columns=headers)
c_df = pd.DataFrame([q1_vals], columns=headers)
d_df = pd.DataFrame([median_vals], columns=headers)
f_df = pd.DataFrame([mean_vals], columns=headers)
g_df = pd.DataFrame([q3_vals], columns=headers)
h_df = pd.DataFrame([var_vals], columns=headers)
i_df = pd.DataFrame([std_vals], columns=headers)
j_df = pd.DataFrame([cv], columns=headers)

df = pd.concat([df, a_df], ignore_index=True)
df = pd.concat([df, b_df], ignore_index=True)
df = pd.concat([df, c_df], ignore_index=True)
df = pd.concat([df, d_df], ignore_index=True)
df = pd.concat([df, f_df], ignore_index=True)
df = pd.concat([df, g_df], ignore_index=True)
df = pd.concat([df, h_df], ignore_index=True)
df = pd.concat([df, i_df], ignore_index=True)
df = pd.concat([df, j_df], ignore_index=True)



# Define your new column values
new_column_values = ['min', 'max', 'q1', 'median', 'mean', 'q3', 'var', 'std','cv']

# Insert the new column at the first position
df.insert(0, '----', new_column_values)


df.to_csv('final_table.csv', index=False)
print("\nDataFrame exported to CSV successfully.")


# Read CSV file into a DataFrame
df = pd.read_csv('final_table.csv')

# Write DataFrame to Excel file
df.to_excel('final_table.xlsx', index=False)

print("CSV file converted to Excel successfully.")

DataFrame exported to CSV successfully.

C:\Users\Alexandra la Mejor\AppData\Local\Temp\ipykernel_14072\1897059141.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, a_df], ignore_index=True)

CSV file converted to Excel successfully.

In [115]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('final_table.csv')

# Generate LaTeX table code
latex_table = df.to_latex(index=False)

# Print the LaTeX code
print(latex_table)

\begin{tabular}{lrrrrr}
\toprule
---- & Ocupación_informal & Población_rural & Empleadores & Educación & PIB_per_cápita \\
\midrule
min & 0.008450 & 25136.000000 & 0.003468 & 0.036508 & 741.797635 \\
max & 0.949070 & 120479887.000000 & 0.073972 & 1.270803 & 108351.452159 \\
q1 & 0.029115 & 1068769.250000 & 0.029099 & 0.481779 & 5824.112031 \\
median & 0.185845 & 2830219.000000 & 0.037591 & 0.592842 & 12255.314648 \\
mean & 0.301837 & 10987938.973684 & 0.035967 & 0.589232 & 17121.987563 \\
q3 & 0.583715 & 10673670.250000 & 0.043138 & 0.732560 & 19337.435434 \\
var & 0.093877 & 481992828539351.125000 & 0.000182 & 0.073103 & 400758037.948454 \\
std & 0.306393 & 21954335.073952 & 0.013503 & 0.270375 & 20018.941979 \\
cv & 1.015096 & 1.998039 & 0.375438 & 0.458860 & 1.169195 \\
\bottomrule
\end{tabular}